# windows files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.a
*.dll

# osx files
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# build output
/Debug
/EtherTerm
/EtherTerm.txt
*.d
*.o
win32/.codelite/EtherTerm.tags
win32/.codelite/cppcheck.list
win32/.codelite/refactoring.db
win32/.codelite/EtherTerm-blue.tags
