# Auto detect text files and perform LF normalization
* text=auto

# Standard to msysgit
*.doc diff=astextplain
*.DOC diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot diff=astextplain
*.DOT diff=astextplain
*.pdf diff=astextplain
*.PDF diff=astextplain
*.rtf diff=astextplain
*.RTF diff=astextplain

*.asc text eol=crlf
*.ASC text eol=crlf
*.ans text eol=crlf
*.ANS text eol=crlf
*.txt text eol=crlf
*.TXT text eol=crlf
*.diz text eol=crlf
*.DIZ text eol=crlf

*.cpp text eol=crlf
*.hpp text eol=crlf
*.c   text eol=crlf
*.h   text eol=crlf

